---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualidad",
    title: "Desarrollador Backend",
    company: "GrutStudio",
    description:
      "Colaboración en el desarrollo y mejora continua de un sistema de gestión hotelera, que incluye funciones como gestión de rentas, reservas y room-service, control de inventario, generación de reportes financieros y administración de personal",
  },
  {
    date: "Noviembre 2023 - Enero 2024",
    title: "Desarrollador Backend",
    company: "Doctor Qali",
    description:
      "Desarrollo de una aplicación escalable de mensajería omnicanal mediante Arquitectura Monolítica, la cual, actúa como un chatbot integrado con IA para la venta automatizada de productos y servicios a través de la WhatsApp Cloud API",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
